@charset "utf-8";

@import "../common";

html,body{height: 100%;}
.w-main{
	max-width: 1000px;
	margin:30px auto;
	background: #ddd;
	overflow: hidden;
	.c2{
		width:50%;
		float: left;
	}
	.c-inner img{
		vertical-align: middle;
		width:100%;
	}
	.c2-padding .c-inner{
		position: relative;
		padding-top: 49.477352%;
		background: #73AA47;
	}
	.c2-padding .real-cont{
		position: absolute;
		top:0;
		left:0;
	}
	
}